.illegalItemContainer {
    margin: 0;
    color: #151515;
    border-radius: 30px;
    background-color: #828282;
    border: 2px solid white;
    /* width: max-content; */
    padding: 15px;
    margin-bottom: 10px;
}

.illegalItemContainer p {
    margin: 0;
}

.illegalItemTitle {
    color: white;
    margin: 0;
}

.illegalItemsPlayer {
    text-decoration: underline;
}