.navbar {
    border-bottom: 1px white solid;
    height: 36px;
}

.tabs {
    display: inline;
    float: right;
}

.tab {
 
}

.navTitle {
    display: inline;
    margin-right: 100px;
    margin-left: 10px;
}

.folderSelector {
    display: inline;
    right: 0;
    float: right;
}