.playerSelector {
    height: auto;
    border-right: 1px white solid;
    width: 160px;
    padding-right: 2px;
    margin-right: 10px;
    padding-left: 2px;

}

.playerAvatar {
    height: 30px;
}

.playerName {
    margin: 0;
}

.playerContainer {
    display: flex;
    width: inherit;
    border: none;
    background-color: white;
    border-top: 1px black solid;
    /* border-bottom: 1px black solid; */
}

.playerContainer:hover {
    background-color: #dedede;
}

.player {
    display: flex;
}

.viewerPos {
    display: flex;
}

.viewerPos p {
    margin-right: 15px ;
}

.playerContent p {
    margin-top: 0;
    margin-bottom: 0 ;
}

.blankImage {
    width: 36px;
    height: 36px;
    display: inline-flex;
    /* border: 1px black solid; */
    background-color: #8a8a8a;
    box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8), inset -2px -2px 0px #ffffff;
    vertical-align: top;

}

.invRow {

}

.item {
    width: 32px;
    height: 32px;
    padding: 2px 1px;
}

.itemContainer {
    display: inline-flex;
    position: relative;
    width: 36px;
    height: 36px;
    padding: 0px;
    image-rendering: pixelated;
    background-color: #8a8a8a;
    box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8), inset -2px -2px 0px #ffffff;
    vertical-align: top;
}

.itemImage {
    max-width: 32px;
    max-height: 32px;
    image-rendering: pixelated;
    margin: auto;
}

.itemTooltip {

}

.itemTextExtra {
    color: #808080;
}

.itemTooltip {
    left: 40px;
    visibility: hidden;
    position: absolute;
    background-color: #121115;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

/* .itemTooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
} */

.itemContainer:hover .itemTooltip {
    visibility: visible;
    opacity: 1;
}

.itemNickname {
    font-style: italic;
}

.enchanted {
    background-color: darkturquoise;
}

.shulkerModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.18); /* Black w/ opacity */
}

.shulkerModalOpen {
    display: block;
}

.modalContent {
    background-color: #fefefe00;
    margin: 20% auto; /* 15% from the top and centered */
    width: fit-content;
}

.close {
    color: #696969;
    float: right;
    /* font-size: 28px; */
    font-weight: bold;
    margin-right: 10px;
    margin-top: 3px;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.inventory {
    background-color: #c6c6c6;
    border-radius: 3px;
    box-shadow: 5px 5px 0px #555555, inset 4px 4px 0px #fefefe00;
    padding: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
    width: fit-content;
}

.hotbar {
    margin-top: 10px;
}

.armourSlot {
}

.armour {
    margin-bottom: 10px;
}

.itemCount {
    position: absolute;
    background-color: #ffffff00;
    right: 2px;
    bottom: 1px;
    font-size: 12px;
}

.playerInfo {
    display: inline-block;
    margin-left: 10px;
}

.invs {
    display: inline-block;
}

.illegalModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.18); /* Black w/ opacity */
}

.illegalModalOpen {
    display: block;
}

.illegalModalContent {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    width: 40%;
    height: fit-content;
    color: black;
    padding: 10px;
}